@model IEnumerable<Pizzeria.Models.Pizza>

<p>
    <a asp-action="Create">Create New Pizza</a>
    <a asp-action="Create" asp-controller="Toppings">Create New Topping</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-group row">
        <div class="col-10">
            <input type="text" name="searchString" class="form-control" placeholder="Search by name" value="@ViewData["CurrentFilter"]" />
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrustType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrustType)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
